* {
    font-family: Consolas, monaco, monospace;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

/*-----
-Login-
-----*/

h1 {
    margin-top: 10rem;
}

#email,
#password {
    padding: 1rem 5rem;
}

.size {
    height: 2rem;
    width: 12rem;
    border-radius: 180px;
    border-color: black;
    background-color: #baa898;
}

input[type="email"]:invalid {
    color: red;
}

input[type="email"]:valid {
    color: green;
}

button {
    height: 2rem;
    width: 6rem;
    border-radius: 180px;
    cursor: pointer;
}



/*mettre un theme claire ou sombre en fonction des paramètres systemes de la machine*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ffff;
    }
    .size{
        background-color: rgb(167, 164, 164);
    }
}
 @media (prefers-color-scheme: light) {
    body {
        background-color: #EEE0CB;
        color: black;
    }
}
